In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.isnull(np.nan)

True

In [4]:
pd.isna(None)

True

In [5]:
pd.isnull(None)

True

In [6]:
pd.notnull(None)

False

In [7]:
pd.notna(np.nan)

False

In [8]:
pd.isnull(pd.Series([1, 1, np.nan]))

0    False
1    False
2     True
dtype: bool

In [9]:
pd.isnull(pd.Series([1, 1, np.nan])).count()

3

In [12]:
pd.isnull(pd.Series([1, 1, np.nan])).sum() # returns number of true values

1

In [13]:
pd.notnull(pd.Series([1, 1, np.nan])).sum() # returns the number of false values

2

In [14]:
 pd.Series([1, 1, np.nan]).dropna()

0    1.0
1    1.0
dtype: float64

In [22]:
s = pd.DataFrame({
    "Age" : [1, 2, 3, 4, np.nan], 
    "Height" : [np.nan, 45, 65, 64, 33], 
    "Weight" : [12, 12, np.nan, 43, 67]
})

In [23]:
s

   Age  Height  Weight
0  1.0     NaN    12.0
1  2.0    45.0    12.0
2  3.0    65.0     NaN
3  4.0    64.0    43.0
4  NaN    33.0    67.0

In [26]:
s.fillna(0)

   Age  Height  Weight
0  1.0     0.0    12.0
1  2.0    45.0    12.0
2  3.0    65.0     0.0
3  4.0    64.0    43.0
4  0.0    33.0    67.0

In [27]:
s.fillna(method = "ffill")

   Age  Height  Weight
0  1.0     NaN    12.0
1  2.0    45.0    12.0
2  3.0    65.0    12.0
3  4.0    64.0    43.0
4  4.0    33.0    67.0

In [28]:
s.fillna(method = "bfill")

   Age  Height  Weight
0  1.0    45.0    12.0
1  2.0    45.0    12.0
2  3.0    65.0    43.0
3  4.0    64.0    43.0
4  NaN    33.0    67.0

In [29]:
s.fillna(method = "ffill", axis = 1)

   Age  Height  Weight
0  1.0     1.0    12.0
1  2.0    45.0    12.0
2  3.0    65.0    65.0
3  4.0    64.0    43.0
4  NaN    33.0    67.0

In [30]:
s["Weight"].unique()

array([12., nan, 43., 67.])

In [31]:
s["Weight"].value_counts()

12.0    2
43.0    1
67.0    1
Name: Weight, dtype: int64

In [39]:
s["Weight"].replace(12 , 21)

0    21.0
1    21.0
2     NaN
3    43.0
4    67.0
Name: Weight, dtype: float64

In [40]:
s["Weight"].replace({12 : 23, 67 : 76})

0    23.0
1    23.0
2     NaN
3    43.0
4    76.0
Name: Weight, dtype: float64

In [41]:
s.replace({"Weight" : {12 : 21}, "Height" : {45 : 54}})

   Age  Height  Weight
0  1.0     NaN    21.0
1  2.0    54.0    21.0
2  3.0    65.0     NaN
3  4.0    64.0    43.0
4  NaN    33.0    67.0

In [43]:
s[s["Age"] > 3]

   Age  Height  Weight
3  4.0    64.0    43.0

In [44]:
s[s["Age"] > 2] = 5

In [45]:
s

   Age  Height  Weight
0  1.0     NaN    12.0
1  2.0    45.0    12.0
2  5.0     5.0     5.0
3  5.0     5.0     5.0
4  NaN    33.0    67.0

In [49]:
s.duplicated()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [53]:
s.duplicated()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [54]:
s.drop_duplicates()

   Age  Height  Weight
0  1.0     NaN    12.0
1  2.0    45.0    12.0
2  5.0     5.0     5.0
4  NaN    33.0    67.0

In [56]:
s.duplicated(subset = ["Weight"])

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [58]:
df = pd.read_csv("Downloads/MCA-Jain Template-1_VideoData_2022-01-06.csv")

In [59]:
df

,User Name,User ID,Course Name,Module Name,Video Name,Video Duration (Seconds),Percentage Watched,Total Time Watched (Seconds)
0,test,2062442,21VMT0C105: Computer Organization & Architecture,21VMC0C105: Computer Organization & Architectu...,Course Outcomes,128,0,0
1,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Agenda - Basic Structure of Computers and Inst...,83,0,0
2,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Introduction To Digital Computer,590,0,0
3,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Building Blocks of a Computer System,659,0,0
4,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Basics Of Number System,584,0,0
...,...,...,...,...,...,...,...,...
624,test,2062442,21VMT0C101: Mathematical Foundation for Comput...,Unit 15 - Network Optimization - Assignment Pr...,Hungarian Method,1788,0,0
625,test,2062442,21VMT0C101: Mathematical Foundation for Comput...,Unit 15 - Network Optimization - Assignment Pr...,Unbalanced Assignment Problem - part 1,982,0,0
626,test,2062442,21VMT0C101: Mathematical Foundation for Comput...,Unit 15 - Network Optimization - Assignment Pr...,Unbalanced Assignment Problem - part 2,1029,0,0
627,test,2062442,21VMT0C101: Mathematical Foundation for Comput...,Unit 15 - Network Optimization - Assignment Pr...,Maximization Assignment Problem,1748,0,0
628,test,2062442,21VMT0C101: Mathematical Foundation for Comput...,Unit 15 - Network Optimization - Assignment Pr...,Restricted Assignment Problem,1388,0,0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   User Name                     629 non-null    object
 1   User ID                       629 non-null    int64
 2   Course Name                   629 non-null    object
 3   Module Name                   629 non-null    object
 4   Video Name                    629 non-null    object
 5   Video Duration (Seconds)      629 non-null    int64
 6   Percentage Watched            629 non-null    int64
 7   Total Time Watched (Seconds)  629 non-null    int64
dtypes: int64(4), object(4)
memory usage: 39.4+ KB

In [62]:
df.describe()

,User ID,Video Duration (Seconds),Percentage Watched,Total Time Watched (Seconds)
count,629.0,629.000000,629.0,629.0
mean,2062442.0,737.632750,0.0,0.0
std,0.0,484.358349,0.0,0.0
min,2062442.0,14.000000,0.0,0.0
25%,2062442.0,360.000000,0.0,0.0
50%,2062442.0,691.000000,0.0,0.0
75%,2062442.0,1029.000000,0.0,0.0
max,2062442.0,3060.000000,0.0,0.0

In [64]:
df = df.drop("Percentage Watched", axis = 1)

In [65]:
df.head()

,User Name,User ID,Course Name,Module Name,Video Name,Video Duration (Seconds),Total Time Watched (Seconds)
0,test,2062442,21VMT0C105: Computer Organization & Architecture,21VMC0C105: Computer Organization & Architectu...,Course Outcomes,128,0
1,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Agenda - Basic Structure of Computers and Inst...,83,0
2,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Introduction To Digital Computer,590,0
3,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Building Blocks of a Computer System,659,0
4,test,2062442,21VMT0C105: Computer Organization & Architecture,Unit 1 - Basic Structure of Computers and Ins...,Basics Of Number System,584,0

In [66]:
df["Course Name"].unique()

array(['21VMT0C105: Computer Organization & Architecture',
       '21VMT0C104: Data Structures with Algorithms',
       '21VMT0C103: Data Communication & Computer Networks',
       '21VMT0C102: Operating System & Unix Shell Programming',
       '21VMT0C101: Mathematical Foundation for Computer Application'],
      dtype=object)

In [69]:
df.duplicated().sum()

0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   User Name                     629 non-null    object
 1   User ID                       629 non-null    int64
 2   Course Name                   629 non-null    object
 3   Module Name                   629 non-null    object
 4   Video Name                    629 non-null    object
 5   Video Duration (Seconds)      629 non-null    int64
 6   Total Time Watched (Seconds)  629 non-null    int64
dtypes: int64(3), object(4)
memory usage: 34.5+ KB

In [83]:
a = df["Course Name"].str.split(":", expand = True)

In [92]:
a.columns = ["Course Code", "Subject Name"]

In [93]:
a

    Course Code                                       Subject Name
0    21VMT0C105               Computer Organization & Architecture
1    21VMT0C105               Computer Organization & Architecture
2    21VMT0C105               Computer Organization & Architecture
3    21VMT0C105               Computer Organization & Architecture
4    21VMT0C105               Computer Organization & Architecture
..          ...                                                ...
624  21VMT0C101   Mathematical Foundation for Computer Application
625  21VMT0C101   Mathematical Foundation for Computer Application
626  21VMT0C101   Mathematical Foundation for Computer Application
627  21VMT0C101   Mathematical Foundation for Computer Application
628  21VMT0C101   Mathematical Foundation for Computer Application

[629 rows x 2 columns]

In [94]:
df.drop(["Course Name"], axis = 1)

,User Name,User ID,Module Name,Video Name,Video Duration (Seconds),Total Time Watched (Seconds)
0,test,2062442,21VMC0C105: Computer Organization & Architectu...,Course Outcomes,128,0
1,test,2062442,Unit 1 - Basic Structure of Computers and Ins...,Agenda - Basic Structure of Computers and Inst...,83,0
2,test,2062442,Unit 1 - Basic Structure of Computers and Ins...,Introduction To Digital Computer,590,0
3,test,2062442,Unit 1 - Basic Structure of Computers and Ins...,Building Blocks of a Computer System,659,0
4,test,2062442,Unit 1 - Basic Structure of Computers and Ins...,Basics Of Number System,584,0
...,...,...,...,...,...,...
624,test,2062442,Unit 15 - Network Optimization - Assignment Pr...,Hungarian Method,1788,0
625,test,2062442,Unit 15 - Network Optimization - Assignment Pr...,Unbalanced Assignment Problem - part 1,982,0
626,test,2062442,Unit 15 - Network Optimization - Assignment Pr...,Unbalanced Assignment Problem - part 2,1029,0
627,test,2062442,Unit 15 - Network Optimization - Assignment Pr...,Maximization Assignment Problem,1748,0
628,test,2062442,Unit 15 - Network Optimization - Assignment Pr...,Restricted Assignment Problem,1388,0

In [96]:
df["Course Code"] = a["Course Code"]
df["Subject Name"] = a["Subject Name"]

In [101]:
df = df.drop(["User Name", "User ID", "Total Time Watched (Seconds)", "Course Name"], axis = "columns")

In [102]:
df

,Module Name,Video Name,Video Duration (Seconds),Course Code,Subject Name
0,21VMC0C105: Computer Organization & Architectu...,Course Outcomes,128,21VMT0C105,Computer Organization & Architecture
1,Unit 1 - Basic Structure of Computers and Ins...,Agenda - Basic Structure of Computers and Inst...,83,21VMT0C105,Computer Organization & Architecture
2,Unit 1 - Basic Structure of Computers and Ins...,Introduction To Digital Computer,590,21VMT0C105,Computer Organization & Architecture
3,Unit 1 - Basic Structure of Computers and Ins...,Building Blocks of a Computer System,659,21VMT0C105,Computer Organization & Architecture
4,Unit 1 - Basic Structure of Computers and Ins...,Basics Of Number System,584,21VMT0C105,Computer Organization & Architecture
...,...,...,...,...,...
624,Unit 15 - Network Optimization - Assignment Pr...,Hungarian Method,1788,21VMT0C101,Mathematical Foundation for Computer Application
625,Unit 15 - Network Optimization - Assignment Pr...,Unbalanced Assignment Problem - part 1,982,21VMT0C101,Mathematical Foundation for Computer Application
626,Unit 15 - Network Optimization - Assignment Pr...,Unbalanced Assignment Problem - part 2,1029,21VMT0C101,Mathematical Foundation for Computer Application
627,Unit 15 - Network Optimization - Assignment Pr...,Maximization Assignment Problem,1748,21VMT0C101,Mathematical Foundation for Computer Application
628,Unit 15 - Network Optimization - Assignment Pr...,Restricted Assignment Problem,1388,21VMT0C101,Mathematical Foundation for Computer Application

In [103]:
# str functions contains : Strip, replace, contains

In [104]:
# similar to str, we have dt (Data time) and cat (Categorical data)